.sidenav {
    border: 1px solid #1fb8eb;
    margin-top: 5px;
    margin-left: 50px;
    float: left;
    padding-top: 50px;
    border-radius: 15px 50px 30px 5px;
    background-image: url(http://diabetesdad.org/files/2013/01/Blue-flame-extinguished.jpg);
}

.thumbnail {
    display:inline-block;
    max-width:100%;
    height:auto;
    padding:4px;
    line-height:1.42857143;
    background-color:#fff;
    border:1px solid #ddd;
    border-radius:4px;
    -webkit-transition:all .2s ease-in-out;
    -o-transition:all .2s ease-in-out;
    -moz-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out
}

.sidenav > h2 {
    color: #ff0000;
    box-shadow: 1px 1px 5px blue;
	text-shadow: 5px 5px 5px black;
}

.sidenav > p {
    padding-top: 150px;
    box-shadow: 0px 0px 0px
}


.avatar {
    text-align: center;
    position: relative;
    width: 65px;
    height: 65px;
    margin-left: 5px;
}


.info {
    width: 150px;
    text-align: right;
    font-size: 12px;
}

.name {
    font-weight: bold;
    font-size: 14px;
}


.container-fluid.text-center.footer {
    color: #ff0000
}
#welcome {
	display: none;
}

#oh {
	display: none;
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

p {
    box-shadow: 1px 1px 5px red;
  }
#SO {
    box-shadow: 10px 10px 5px black;
  }
.github-flair {
    box-shadow: 2px 2px 5px grey;
	float: left
  }
h3 {
    box-shadow: 1px 1px 5px blue;
	text-shadow: 3px 3px 5px blue;
  }
#chibi {
     position: fixed;
     width: 100px;
     height: 100px;
     top: 0;
     left: 0;
  }
#details {
    float:right;
    border: 10px solid transparent;
    padding: 15px;
    -webkit-border-image: url(http://multimedia.3m.com/mws/media/1178596P/3m-wrap-film-1080-m227-matte-blue-metallic.jpg?boundedSize=310) 30 stretch; /* Safari 3.1-5 */
    -o-border-image: url(http://multimedia.3m.com/mws/media/1178596P/3m-wrap-film-1080-m227-matte-blue-metallic.jpg?boundedSize=310) 30 stretch; /* Opera 11-12.1 */
    -moz-border-image: url(http://multimedia.3m.com/mws/media/1178596P/3m-wrap-film-1080-m227-matte-blue-metallic.jpg?boundedSize=310) 30 stretch;
    border-image: url(http://multimedia.3m.com/mws/media/1178596P/3m-wrap-film-1080-m227-matte-blue-metallic.jpg?boundedSize=310) 30 stretch;

  }
  
#im_gif:hover {
	  opacity:0.6;
	  transition: width 2s, height 4s;
  } 

.full-height {
  min-height: calc(100vh - 50px);
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    padding: 15px;
  }
  .row.content {height:auto;}
}
